<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">

  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap)";
    rel="stylesheet"
    type="text/css"
  />

  {% feed_meta %}
  {% seo %}

</head>
