:root {
  --color-zero: white;
  --color-one: #654ea3; /* Purple Color */
  --color-two: #eaafc8; /* Pink Color */
  --color-three: #473772; /* Darker Purple Color */
  --color-four: #2B2D2F; /* This is the background color */
  --color-five: #7a8085; /* Lighter than background color */
}
