---
layout: default
---
<div class="banner-box">
  <div class="banner-text bg-one">
    <h1>Photo Galleries</h1>
  </div>
</div>
<div class="regular-content"
  {% for gallery in page.galleries %}
  <div class="flex">
    <div class="gallery-wrapper">
      <a href="{{ gallery['gallery'] }}">
          <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
        </a>
        <h4><a id="gallery-title" href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h4>
        <p>{{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}</p>
      </div>
    </div>
  {% endfor %}
</div>
